/*Dateiname: style.css*/

body {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    margin:0;
    padding:0;
}

.logo {
    font-size:30px;
    text-transform: uppercase;

    background-color:#337ab7;
    color:#fff;

    display: inline-block;
    height:80px;

    padding:20px;

    box-sizing:border-box;

    border-radius: 5px;

    margin-top:10px;
    margin-bottom:50px;
}

.stripe {
    background-color:#337ab7;
    width:100%;
    height:15px;

}

.logo:before { /*sauberer wärs so: .logo::before -> aber mit :before ist es eine Garatie, dass es funzt*/
    content:"\f155"; /*Code für Dollarzeichen*/
    font-family: "FontAwesome", sans-serif;
    display: inline-block;
    margin-right:15px;
}

footer {
    background-color:#f8f9fa;
    height: 150px;
    padding-top:20px;
}

/*Veränderungen der Angabe -> Beginn*/
header > .inner, #main > .inner, footer > .inner { /*Alle direkten Nachkommen vom header, #main und footer*/
    width: 990px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;  /*keine Aufzählungszeichen*/
    margin: 0;              /*keine Einrückung*/
    padding: 0;             /*keine Einrückung*/
}

nav ul a {
    text-decoration: none;
    color: #337ab7;
}

ul.level_2 {
    display: none;          /*Aufzählungsinhalte mit Level 2 werden nicht angezeigt*/
}

ul.level_1 > li {
    /*display: inline;        dann kann ich keine Außenabstände machen*/
    display: inline-block;
    padding-right: 25px;
    position: relative;     /*Unterpunkte können sich nun an dem Hauptmenü ausrichten*/
}

ul.level_1 > li:hover ul.level_2{
    display: block;         /*Elemente werden beim hover angezeigt*/
    position: absolute;
    left:0;
    bottom: auto;
    background-color: #ffffff;
}
/*Problem: Eingeblendetes Menü verschiebt Hauptmenüpunkt nach oben, deshalb wollen wir das Untermenü zum Hauptmenü
relativ ausrichten.
darum oben position: relative; bei Level_1
und unten position: absolute; bei level_2*/

ul.level_2 li:hover {
    background-color: #337ab7;
}

ul.level_2 li:hover a {
    color: white;
}